<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Threading" >
    <test name="Regression" parallel = "tests" thread-count="3">
         <classes>
             <class name="MultiThreading._3_ExampleWithPojo"/>
            <!--  <class name="MultiThreading._3_ExampleWithPojo2"/> -->
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->